
<div class="container-showuser">
  <div class="navbar mb-1">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
    <h2 class="pseudo-stats"><%= @user.pseudo %></h2>
    <%# if Game.last %>
      <%#= link_to game_path(Game.last) do %>
        <!-- <i class="fas fa-poll-h"></i> -->
      <%# end %>
    <%# else %>
      <!-- <i class="fas fa-poll-h"></i> -->
    <%# end %>
  </div>

  <div class="highscore mb-3">
    <h1 class="text-center">High Score</h1>
    <% ranking = 1 %>
    <% if Game.count != 0 %>
      <% Game.order(total_score: :desc).first(3).each do |game| %>
        <div class="d-flex justify-content-between mx-3">
          <p><%= ranking %></p>
          <p class ="mx-2"><%= link_to "#{game.user.pseudo}", user_path(game.user) %></p>
          <p class="ml-auto"><%= game.total_score %></p>
          <% ranking += 1 %>
        </div>
      <% end %>
    <% else %>
      <p>1</p>
      <p>2</p>
      <p>3</p>
    <% end %>

    <h3 class="text-center">le + rapide</h3>
    <div class="d-flex justify-content-between mx-3">
      <% if Answer.count != 0 %>
        <p><%= link_to "#{@faster_answer.user.pseudo}", user_path(@faster_answer.user) %></p>
        <p><%= @faster_answer.answering_time %>s</p>
      <% else %>
        <p>-</p>
      <% end %>
        <%#= @faster_answer.track.artist %>
        <%#= @faster_answer.track.title %>
    </div>
  </div>

  <div class="statperso">
    <!-- <h3>pourcentage de bonnes réponse</h3> -->
    <div class="legend d-flex justify-content-around">
    </div>

    <div class="d-flex justify-content-between resume">
      <div class="stats">
        <i class="fas fa-trophy" id="best-scores"></i>
        <div class="item-stat">
          <% if @user.games.count != 0 %>
            <p><%= @user_hight_score %></p>
          <% else %>
            <p>-</p>
          <% end %>
        </div>
      </div>
      <div class="stats">
        <i class="fas fa-check" id="good-answers"></i>
        <div class="item-stat">
          <% if @user.games.count != 0 %>
            <p><%= @percent_user_good_answers %>%</p>
          <% else %>
            <p>-</p>
          <% end %>
        </div>
      </div>
      <div class="stats">
        <i class="fas fa-stopwatch" id="faster-answer"></i>
        <div class="item-stat">
          <% if @user.answers.count != 0 %>
            <p><%= @user_faster_answer.answering_time %>s</p>
          <% else %>
            <p>-</p>
          <% end %>
        </div>
      </div>
    </div>

    <%#= @user_faster_answer.track.artist %>
    <%#= @user_faster_answer.track.title %>

    <div class="d-flex justify-content-around my-3">
      <div class="percent-card">
        <h6 class="text-center">FRENCH</h6>
        <p class="text-center"><%= @french_percent %>%</p>
      </div>

      <div class="percent-card">
        <h6 class="text-center">ROCK</h6>
        <p class="text-center"><%= @rock_percent %>%</p>
      </div>

      <div class="percent-card">
        <h6 class="text-center">POP</h6>
        <p class="text-center"><%= @pop_percent %>%</p>
      </div>
    </div>

    <div class="d-flex justify-content-around my-3">
      <div class="percent-card">
        <h6 class="text-center">DANCE</h6>
        <p class="text-center"><%= @dance_percent %>%</p>
      </div>

      <div class="percent-card">
        <h6 class="text-center">R-N-B</h6>
        <p class="text-center"><%= @rnb_percent %>%</p>
      </div>

      <div class="percent-card">
        <h6 class="text-center">ELECTRO</h6>
        <p class="text-center"><%= @electro_percent %>%</p>
      </div>
    </div>
  </div>
</div>





