<%= link_to "Back", :back %>
<%= link_to "Home", root_path %>

<h2><%= @user.pseudo %></h2>

<%#= @user.games.count %>
<h1>High Score</h1>
<% Game.order(total_score: :desc).first(3).each do |game| %>
  <p><%= game.user.pseudo %> - <%= game.total_score %></p>
<% end %>

<h2>Réponse la + rapide</h2>
<p><%= @faster_answer.user.pseudo %> - <%= @faster_answer.track.artist %> - <%= @faster_answer.track.title %> - <%= @faster_answer.answering_time %>s</p>

<p>----------------------------------------</p>

<h2>pourcentage de bonnes réponse</h2>
<p><%= @pourcent_user_good_answers %>%</p>

<h2>Ta réponse la plus rapide</h2>
<p><%= @user_faster_answer.track.artist %> - <%= @user_faster_answer.track.title %> - <%= @user_faster_answer.answering_time %>s</p>

<h2>Pourcentage de bonnes réponses par thèmes</h2>


<% french_array = [] %>
<% Playlist.where(name:"French").each do |playlist| %>
  <% french_array << playlist.id %>
<% end %>

<% count_games = 0 %>
<% total_user_good_answers = 0 %>

<% @user.games.each do |game| %>
  <% if french_array.include?(game.playlist_id) %>
    <% count_games += 1 %>
    <% good_answers = game.answers.where("status = ? AND user_id = ?", true, @user.id).count %>
    <% total_user_good_answers += good_answers %>
  <% end %>
<% end %>

<% @user.participations.each do |participation| %>
  <% if french_array.include?(participation.game.playlist_id) %>
    <% count_games += 1 %>
    <% good_answers = participation.game.answers.where("status = ? AND user_id = ?", true, @user.id).count %>
    <% total_user_good_answers += good_answers %>
  <% end %>
<% end %>


<% french_pourcent = (total_user_good_answers * 100) / (count_games * Game::NUMBER_OF_ROUNDS) %>
<p>FRENCH : <%= french_pourcent %>%</p>

<%# rock = Playlist.where(name:"Classic Rock") %>
<%# dance = Playlist.where(name:"Dancefloor") %>
<%# disney = Playlist.where(name:"Disney") %>
<%# nines = Playlist.where(name:"Années 90") %>
<%# french = Playlist.where(name:"Variété française") %>
<%# electro = Playlist.where(name:"French touch") %>

<%# all_rock = @user.games.where(playlist_id:rock[0].id) %>
<%# all_dance = @user.games.where(playlist_id:dance[0].id) %>
<%# all_disney = @user.games.where(playlist_id:disney[0].id) %>
<%# all_nines = @user.games.where(playlist_id:nines[0].id) %>
<%# all_french = @user.games.where(playlist_id:french[0].id) %>
<%# all_electro = @user.games.where(playlist_id:electro[0].id) %>


<%# total_french_tracks = 0 %>
<%# total_french_good_answers = 0 %>
<%# all_french.each do |game| %>
  <%# game.playlist.tracks.count %>
  <%# total_french_tracks += game.playlist.tracks.count %>
  <%# good_answers = game.answers.where(status:true) %>
  <%# user_good_answers = good_answers.where(user_id:@user.id).count %>
  <%# total_french_good_answers += user_good_answers %>
<%# end %>

<%# french_pourcent = (total_french_good_answers * 100) / total_french_tracks %>


