<%= link_to "Back", :back %>
<%= link_to "Home", root_path %>

<h2><%= @user.pseudo %></h2>

<h1>High Score</h1>
<% Game.order(total_score: :desc).first(3).each do |game| %>
  <p><%= link_to "#{game.user.pseudo}", user_path(game.user) %> - <%= game.total_score %></p>
<% end %>

<h2>Réponse la + rapide</h2>
<p><%= @faster_answer.user.pseudo %> - <%= @faster_answer.track.artist %> - <%= @faster_answer.track.title %> - <%= @faster_answer.answering_time %>s</p>

<p>----------------------------------------</p>

<h2>pourcentage de bonnes réponse</h2>
<p><%= @percent_user_good_answers %>%</p>

<h2>Ta réponse la plus rapide</h2>
<p><%= @user_faster_answer.track.artist %> - <%= @user_faster_answer.track.title %> - <%= @user_faster_answer.answering_time %>s</p>

<h2>Pourcentage de bonnes réponses par thèmes</h2>


<p>FRENCH : <%= @french_percent %>%</p>
<p>ROCK : <%= @rock_percent %>%</p>
<p>POP : <%= @pop_percent %>%</p>
<p>R-N-B : <%= @rnb_percent %>%</p>
<p>ELECTRO : <%= @electro_percent %>%</p>
<p>DISCO : <%= @disco_percent %>%</p>


