<div id="homepage">
  <p class="nav-item text-right w-100">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </p>
  <div class="content">
    <div class="image">
      <%= image_tag "image.png", class: "logo-gt" %>
    </div>
    <h1>GUESS WHAT</h1>
    <p>SHARE MUSIC ANYWHERE</p>
  </div>

  <% if user_signed_in? %>
    <div class="text-center">
        <%= simple_form_for @game do |f| %>
          <%= f.submit "CREE UNE PARTIE", class: "btn-home" %>
        <% end %>
    <%= link_to "REJOINS UNE PARTIE", new_participation_path , class: "btn-home2" %></p>
    </div>
  <% end %>
</div>
