<div class="top-container">
  <div class="welcome-top" id="answers" data-game-id="<%= @game.id %>">
    <% if @game.user == current_user %>
      <h4><%= @game.user.pseudo %>, invite tes potes à jouer avec toi !</h4>
      <br>
      <div class="token-card">
        <div class="avatar-key d-flex justify-content-around align-items-center">
          <i class="fas fa-key"></i>
        </div>
        <h6 class="mt-3">Voici le code pour rejoindre ta partie : </h6>
        <strong><h2 class="mt-3 "><%= @game.token %></h2></strong>
      </div>
      <br>
      <br>
  </div>
      <%= link_to running_game_path(@game), method: :patch do %>
      <div class="play-btn mt-5"></div>
    <% end %>
    <% else %>
      <h3>Tu as rejoint la partie de <%= @game.user.pseudo %> !</h3>
  <% end%>
  </div>
</div>
