
<div class="dashboard-container text-center">

  <% total_mj = 0 %>
  <% @game.user.answers.where(status:true).each do |answer| %>
    <% if answer %>
      <% if answer.answering_time < 3  %>
        <% total_mj += 1000 %>
      <% elsif answer.answering_time < 5 %>
        <% total_mj += 200 %>
      <% elsif answer.answering_time < 10 %>
        <% total_mj += 50 %>
      <% else%>
        <% total_mj += 10 %>
      <% end %>
    <% end %>
  <% end %>

  <% total_player2 = 0 %>
  <% if @game.participants[0]%>
    <% @game.participants[0].answers.where(status:true).each do |answer| %>
      <% if answer %>
        <% if answer.answering_time < 3  %>
          <% total_player2 += 1000 %>
        <% elsif answer.answering_time < 5 %>
          <% total_player2 += 200 %>
        <% elsif answer.answering_time < 10 %>
          <% total_player2 += 50 %>
        <% else%>
          <% total_player2 += 10 %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


  <% if total_mj > total_player2 %>
    <p>Le gagnant est</p>
    <%# RSpotify.authenticate(ENV["SPOTIFY_CLIENT_ID"], ENV["SPOTIFY_CLIENT_SECRET"]) %>
    <%# result = RSpotify::Track.search("another brick in the wall") %>
    <%#= result[0].album.external_urls["spotify"] %>
    <span class="particletext confetti"> <%= @game.user.pseudo %></span>

    <p><%= total_mj %> pts</p>
  <% else %>
    <p>Gagnant: <%= @game.participants[0].pseudo %></p>
    <span class="particletext confetti"> <%= total_player2 %> </span>
  <% end %>
</div>



    <!-- <div class="album-photo" style="background-image: url(<%#= result[0].album.images[0]["url"] %>)" >
    </div> -->
<!-- ---------------- -->


<div class="mx-2" >
<% RSpotify.authenticate(ENV["SPOTIFY_CLIENT_ID"], ENV["SPOTIFY_CLIENT_SECRET"]) %>
  <% @game.playlist.tracks.each do |track| %>
    <% result = RSpotify::Track.search("#{track.title}") %>
    <div class="card-song">
      <img src="<%= result[0].album.images[0]["url"] %>"/>
    <div class="card-song-infos">
     <h2><%= track.title %></h2>
     <p><%= track.artist %></p>
    </div>
    <div class="result text-right">
     <p><%#= User.last.pseudo %></p>
     <p class="points">
      <tr >
        <% track.answers.where(status:true).each do |answer| %>
          <p><%= answer.user.pseudo %> </p>
            <% if answer.answering_time < 3 %>
              <td class="top-score">+ 1000 </td>
            <% elsif answer.answering_time < 5 %>
              <td>+ 200 </td>
            <% elsif answer.answering_time < 10 %>
              <td>+ 50 </td>
            <% else %>
              <td>+ 10 </td>
            <% end %>
        <% end %> <!-- fin de |answer| do -->
         </tr>
     </p>
    </div>
    <% link = result[0].album.external_urls["spotify"] %>
    <%= link_to "#{link}", target: :_blank do %>
      <i class="fab fa-spotify spotify"></i>
    <% end %>
   </div>
  <% end %>
</div>



<!-- bouton rejouer -->
<div class="replay">
<div class="text-center mt-5">
  <% @game=Game.new(user: current_user) %>
  <%= simple_form_for @game do |f| %>
    <%= f.submit "Rejouer", class: "btn-home" %>
  <% end %>
</div>
</div>


