<ul class="list-inline d-flex align-items-center">
  <!--          creer une data-audio-id = user.id -->
  <li class="d-none list-inline-item audio" data-time="<%= @answering_time %>">
    <%= audio_tag("#{@current_track.url_preview}", autoplay: false, controls: true, id:"song") %>
  </li>
</ul>

<div class="buzzer-content">
  <!-- creer une variable idBuzzer = 'buzz' + user.id -->
  <div class="consigne text-center">
    <h3 id="consigne">Touche pour donner <br> <br> ta réponse</h3>
  </div>

  <%= link_to paused_game_path(@game), method: :patch, id:"buzz" do %>

  <figure class="profile">
    <%= image_tag "image.png", class: "logo-show", id:"buzz-img"%>
  </figure>
  <% end %>
  <div class="countdown d-flex justify-content-center align-items-center" id="countdown">
    <p class="d-block" id="3">3</p>
    <p class="d-none" id="2">2</p>
    <p class="d-none" id="1">1</p>
  </div>

</div>

<div class="d-none ghost" data-answer="<%= @current_track.artist %>" data-user="<%=  %>">
  <%= simple_form_for [ @game, @answer ], html: { id: :ghost_new_answer } do |f| %>
    <%= f.input :content, autofocus: true, label: false, input_html: { id: 'ghost_answer_content' }%>
    <%= f.hidden_field :track, value: @current_track.id %>
    <%#= f.hidden_field :answering_time, value: params[:current_time] %>
    <%= f.submit "Réponse ?", class: 'btn btn-flat', id:"ghost_answer"%>
  <% end %>
</div>

