
<div class="dashboard-container text-center">

  <% total_mj = 0 %>
  <% @game.user.answers.where(status:true).each do |answer| %>
    <% if answer %>
      <% if answer.answering_time < 2  %>
        <% total_mj += 500 %>
      <% elsif answer.answering_time < 5  %>
        <% total_mj += 350 %>
      <% elsif answer.answering_time < 8 %>
        <% total_mj += 175 %>
      <% elsif answer.answering_time < 11 %>
        <% total_mj += 70 %>
      <% elsif answer.answering_time < 15 %>
        <% total_mj += 35 %>
      <% else%>
        <% total_mj += 10 %>
      <% end %>
    <% end %>
  <% end %>

  <% total_player2 = 0 %>
  <% if @game.participants[0]%>
    <% @game.participants[0].answers.where(status:true).each do |answer| %>
      <% if answer %>
        <% if answer.answering_time < 2  %>
          <% total_player2 += 500 %>
        <% elsif answer.answering_time < 5  %>
          <% total_player2 += 350 %>
        <% elsif answer.answering_time < 8 %>
          <% total_player2 += 175 %>
        <% elsif answer.answering_time < 11 %>
          <% total_player2 += 70 %>
        <% elsif answer.answering_time < 15 %>
          <% total_player2 += 35 %>
        <% else%>
          <% total_player2 += 10 %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


  <% if total_mj > total_player2 %>
    <i class="fas fa-crown fa-4x"></i>
    <br>
    <span class="particletext confetti"> <%= @game.user.pseudo %></span>
    <p><%= total_mj %> points</p>
  <% else %> <%# elsif  @game.participants[0] %>
    <i class="fas fa-crown fa-4x"></i>
    <br>

    <span class="particletext confetti"> <%= @game.participants[0].pseudo %></span>
    <p><%= total_player2 %> points</p>
  <% end %>
</div>



    <!-- <div class="album-photo" style="background-image: url(<%#= result[0].album.images[0]["url"] %>)" >
    </div> -->
<!-- ---------------- -->


<div class="mx-2" >
<% RSpotify.authenticate(ENV["SPOTIFY_CLIENT_ID"], ENV["SPOTIFY_CLIENT_SECRET"]) %>
  <% @game.playlist.tracks.each do |track| %>
    <% result = RSpotify::Track.search("#{track.title}") %>
    <div class="card-song">
      <img src="<%= result[0].album.images[0]['url'] %>"/>
    <div class="card-song-infos">
     <h2><%= track.title %></h2>
     <p><%= track.artist %></p>
    </div>
    <div class="result text-right">
     <p><%#= User.last.pseudo %></p>
     <p class="points">
<!--       <tr > -->
        <% track.answers.where(status:true).each do |answer| %>
            <div class="user-result <%= answer.user == current_user ? "green" : ""%>" data-user="<%= answer.user.id  %>">
              <p><%= answer.user.pseudo %> </p>
              <% if answer.answering_time < 2 %>
                <p>+ 500 </p>
              <% elsif answer.answering_time < 5 %>
                <p>+ 350 </p>
              <% elsif answer.answering_time < 8 %>
                <p>+ 175 </p>
              <% elsif answer.answering_time < 11 %>
                <p>+ 70 </p>
              <% elsif answer.answering_time < 15 %>
                <p>+ 35 </p>
              <% else %>
                <p>+ 10 </p>
              <% end %>
            </div>
        <% end %> <!-- fin de |answer| do -->
<!--          </tr> -->
     </p>
    </div>
    <% link = result[0].album.external_urls["spotify"] %>
    <%= link_to "#{link}", target: :_blank do %>
      <i class="fab fa-spotify spotify"></i>
    <% end %>
   </div>
  <% end %>
</div>

<!-- bouton rejouer -->
  <div class="replay">
    <div class="text-center mt-5">
      <% @game=Game.new(user: current_user) %>
      <%= simple_form_for @game do |f| %>
        <%= f.submit "Rejouer", class: "btn-home" %>
      <% end %>
    </div>
  </div>


