      <div class="top-container">
        <div class="welcome-top" id="answers" data-game-id="<%= @game.id %>">
          <h3><%= @game.user.pseudo %>, ta partie va pouvoir démarrer !</h3>
          <br>
          <p>Voici le code à communiquer à tes adversaires : </p>
          <strong><%= @game.token %></p></strong>
  <!--    <% if @game.participants != nil %>
            <% @game.participants.each do |participant| %>
              <p><%= participant.pseudo %> is participating</p>
            <%end %>
          <% end %> -->
          <br>
          <br>
          <p>Clique sur le bouton <strong>PLAY</strong> dès que ton adversaire a rejoint la partie pour la lancer 🔊</p>
        </div>
      </div>
      <% if @game.user == current_user %>
        <%= link_to running_game_path(@game), method: :patch do %>
          <div class="play-btn mt-5"></div>
        <% end %>
      <% else %>
        <div class="welcome-top">
          <div class="text-center">
            <p>Vous avez rejoint la partie de <%= @game.user.pseudo%> !</p>
          </div>
        </div>
      <% end %>
