<div class="top-container">

  <div class="welcome-top" > <!--id="answers" data-game-id="<%= @game.id %>" -->
    <% if @game.user == current_user %>
      <h3><%= @game.user.pseudo %>,</h3>
      <h3>invite tes potes à jouer avec toi !</h3>
      <br>
      <br>
      <div class="token-card">
        <div class="avatar-key d-flex justify-content-around align-items-center">
          <i class="fas fa-key"></i>
        </div>
        <br>
        <strong><h2 class="mt-3 "><%= @game.token %></h2></strong>
      </div>
      <br>
      <br>
      <!-- </div> -->
      <div id="answers" data-game-id="<%= @game.id %>">

      </div>
      <div class="mt-5 pb-3">
        <%= link_to running_game_path(@game), method: :patch do %>
          <div class="play-btn "></div>
        <% end %>
      </div>
    <% else %>
      <div class="participant-created">
        <h2>Tu as rejoint la partie de <strong><%= @game.user.pseudo %></strong> !</h2>
        <br>
        <h4>Prépare toi à tout donner</h4>
        <br>
        <i class="fas fa-music fa-2x"></i>
      </div>
    <% end%>
  </div>
</div>
