<div id="dashboard" class="background-gradient force-height">
  <div class="d-flex justify-content-between w-100 pb-3">
    <div>
      <%= link_to root_path do %>
      <%= image_tag "logo-icon.png"%>
      <% end %>
    </div>
    <h3><%= @user.pseudo %></h3>

    <div class="user-icon"><%= @user.pseudo[0].capitalize %>
      <ul id="userMenu" class="user-menu" style="display: none">
        <li><%= link_to "Dashboard", user_path(@user), class: "nav-user-menu narrow" %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-user-menu" %></li>
      </ul>
    </div>
  </div>

  <div class="dashboard-container text-center">
    <% mj_game_good = @game.user.answers.where("status = ? AND game_id = ?", true, @game.id) %>
    <% total_score = 0 %>
    <% mj_game_good.each do |answer| %>
      <% total_score += answer.score %>
    <% end %>
    <% @game.total_score = total_score %>
    <% @game.save %>

  <% if @participation %>
    <% player2_game_good = @game.participants[0].answers.where("status = ? AND game_id = ?", true, @game.id) %>
    <% total_player2 = 0 %>
    <% player2_game_good.each do |answer| %>
      <% total_player2 += answer.score %>
    <% end %>
    <% @participation.total_score = total_player2 %>
    <% @participation.save %>

    <% if @game.total_score >= @participation.total_score %>
      <i class="fas fa-crown fa-4x"></i>
      <br>
      <span class="particletext confetti"> <%= @game.user.pseudo %></span>
      <p><%= @game.total_score %> points</p>
    <% else %>
      <i class="fas fa-crown fa-4x"></i>
      <br>
      <span class="particletext confetti"> <%= @game.participants[0].pseudo %></span>
      <p><%= @participation.total_score %> points</p>
    <% end %>
  <% else %>
    <i class="fas fa-crown fa-4x"></i>
      <br>
      <span class="particletext confetti"> <%= @game.user.pseudo %></span>
      <p><%= @game.total_score %> points</p>
  <% end %>
</div>

    <!-- <div class="album-photo" style="background-image: url(<%#= result[0].album.images[0]["url"] %>)" >
    </div> -->

<!-- ---------------- -->

<div id="playlist-display" class="mx-2" >
  <% RSpotify.authenticate(ENV["SPOTIFY_CLIENT_ID"], ENV["SPOTIFY_CLIENT_SECRET"]) %>
  <% @game.playlist.tracks.each do |track| %>
    <% result = RSpotify::Track.search("#{track.title}") %>
    <div class="card-song">
      <img src="<%= result[0].album.images[0]["url"] %>"/>
    <div class="card-song-infos">
      <h2><%= track.title %></h2>
      <p><%= track.artist %></p>
    </div>
    <div class="result text-right">
      <p><%#= User.last.pseudo %></p>
      <p class="points">
        <!-- AFFICHAGE DES SCORES (LA HAUT C'EST LE CALCUL DU SCORE TOTAL) -->
        <% guess_track = track.answers.where(status:true) %>
        <% game_guess_track = guess_track.where(game_id:@game.id) %>
        <% game_guess_track.each do |answer| %>
          <div class="user-result <%= answer.user == current_user ? "green" : ""%>" data-user="<%= answer.user.id  %>">
            <% if answer.user.pseudo == "Ghost" %>
              <p> - </p>
            <% else %>
              <p> <%= answer.user.pseudo %></p>
                <%= answer.score %>
            <% end %>
          </div>
        <% end %> <!-- fin de |answer| do -->
      </p>
      </div>
    <% link = result[0].album.external_urls["spotify"] %>
    <%= link_to "#{link}", target: :_blank do %>
      <i class="fab fa-spotify spotify"></i>
    <% end %>
   </div>
  <% end %>
</div>

<!-- bouton rejouer -->
<div class="replay">
  <div class="text-center mt-5">
    <% @game = Game.new(user: current_user) %>
    <%= simple_form_for @game do |f| %>
      <%= f.submit "Rejouer", class: "btn-home" %>
    <% end %>
  </div>
</div>

</div>
