<div class="container">
   <div class="playlist-choice">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>

  <div class="edit-title">
    <p>Sélectionne une playlist</p>
  </div>

  <%= simple_form_for @game do |f| %>
    <div class="playlist_grid">
      <% @playlists.each do |playlist| %>
          <div class="playlist_card playlist_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path playlist.picture %>)"  >
            <%= radio_button_tag 'playlist_id', playlist.id, false, class: "d-none" %>
            <%= label_tag "playlist_id_#{playlist.id}", playlist.name %>
          </div>
        <% end %>
      </div>
    <div>
      <div class="text-center mt-5">
        <%= f.submit "C'EST PARTI !", class: "btn-edit" %>
        <% end %>
      </div>
    </div>
</div>
