<div class="container">


      <%= simple_form_for @game do |f| %>
    <div class="playlist_grid">
      <% @playlists.each do |playlist| %>
          <div class="playlist_card playlist_image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path playlist.picture %>)"  >
            <%= radio_button_tag 'playlist_id', playlist.id %>
            <h1>
              <%= label_tag playlist.name %>
            </h1>
          </div>
        <% end %>
  </div>
  <%= f.submit "Next", class: "btn btn-flat" %>
    <% end %>

</div>
