<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="game-container" style="background-image: linear-gradient(to right top, #df2866, #d8377f, #cc4794, #bc56a6, #aa63b3);">
  <div id="game-container" data-game-id="<%= @game.id %>" data-user-id="<%= current_user.id %>">
    <% if @game.paused? %>
      <%  @user = current_user %>
      <%= render 'game_paused',
        user: @user %>
    <% end %>

    <% if @game.created? %>
      <div class="show-created-html" id="game-created-html">
        <%= render 'game_created' %>
      </div>
    <% end %>

    <% if @game.running? && @current_track %>
      <div id="navbar">
        <%= render 'games/navbar',
          user: @user,
          game_participants: @game_participants,
          playlist: @playlist %>
      </div>

      <div id="running-html">
        <%= render 'game_running',
          answering_time: @answering_time,
          current_track: @current_track,
          game: @game %>

        <% if @game.answers.any? %>
          <% if @game.answers.last.status == true %>
              <div class="speech-bubble-good-answer animated">
                <p><%= "Bien joué petit génie de la zik 🕺" %></p>
              </div>
              <% elsif @game.answers.last.status == false %>
              <div class="speech-bubble-bad-answer animated">
                <p>Même ma petite soeur connaît ça !</p>
                <pre>Try again ⛔</pre>
              </div>
              <% else %>
                <%= "nil" %>
          <% end %>
        <% end %>
          <!-- fin de la section mise dans partial par Victor -->
      </div>
    <!-- ----------- -->
    <% end %> <!-- end du if game.running? -->

    <% if @game.finished? %>

    <div id="game-finished" style="background-image: linear-gradient(to right top, #df2866, #d8377f, #cc4794, #bc56a6, #aa63b3);">
        <!-- debut de la section a mettre dans partial-finished -->


        <!-- game paused - formulaire de réponse -->

          <%= render 'game_finished',
            status: 'finished',
            current_track: @current_track,
            game: @game %>

        <!-- fin de la section a mettre dans partial game-finished -->
        </div>
        <% end %>

  <!-- -----------------------  -->
    <%# end %>
  </div> <!-- div fermante du container -->
</div>




