<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="game-container" style="background-image: linear-gradient(to right top, #df2866, #d8377f, #cc4794, #bc56a6, #aa63b3);">
  <div id="navbar">
    <%= render 'games/navbar',
      user: @user,
      game_participants: @game_participants,
      playlist: @playlist %>
  </div>
    <div id="test">
    </div>

  <div id="game-container" data-game-id="<%= @game.id %>">

    <% if @game.paused? %>
      <%= render 'game_paused' %>
    <% end %>
  <!-- ------------------------------- -->
    <% if @game.created? %>
      <div class="show-created-html" id="game-created-html">
        <%= render 'game_created' %>
      </div>
    <% end %>
  <!-- ----------------------------------------- -->

    <% if @game.running? %>
      <% if @current_track %>
        <div id="running-html">

          <%= render 'game_running',
            answering_time: @answering_time,
            current_track: @current_track,
            game: @game %>

          <!-- debut de la section mise dans partial -->

          <!--- fin du conflit - version pullée -->
          <!-- message pour bonne ou mauvaise réponse -->

        <% if @game.answers.any? %>
          <% if @game.answers.last.status == true %>
              <div class="speech-bubble speech-bubble-left good-answer animated">
                <p><%= "Bien joué petit génie de la zik 🕺" %></p>
              </div>
              <% elsif @game.answers.last.status == false %>
              <div class="speech-bubble speech-bubble-left bad-answer animated">
                <p>Même ma petite soeur connaît ça ! Try again !</p>
              </div>
              <% else %>
                <%= "nil" %>
          <% end %>
        <% end %>
          <!-- fin de la section mise dans partial par Victor -->
        </div>
        <!--- fin du conflit - version pullée -->
        <!-- message pour bonne ou mauvaise réponse -->

        <!-- fin de la section mise dans partial par Victor -->

    <!-- - - - - - - - - - - - -->
      <% else %> <!-- si current_track == nil -->
    <!-- fin de partie - résultats par chansons -->


        <div id="game-finished">
        <!-- debut de la section a mettre dans partial-finished -->


        <!-- game paused - formulaire de réponse -->

          <%#= render 'game_finished',
            answering_time: @answering_time,
            current_track: @current_track,
            game: @game %>

        <!-- fin de la section a mettre dans partial game-finished -->
        </div>
    <!-- ----------- -->
      <% end %> <!-- end du if @current_track -->
    <% end %> <!-- end du if game.running? -->
  <!-- -----------------------  -->
    <%# end %>
  </div> <!-- div fermante du container -->
</div>




