<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="game-container" style="background-image: linear-gradient(to right top, #df2866, #d8377f, #cc4794, #bc56a6, #aa63b3);">

 <!-- div toujours necessaire?  -->

  <div class="created-game">
    <div >
    </div>
  </div>

  <!-- ------------------------------- -->

  <!-- game created -->

  <% if @game.created? %>
    <div class="show-created-html" id="game-created-html">
      <!-- debut de la section a mettre dans partial -->
      <div class="top-container">
        <div class="welcome-top" id="answers" data-game-id="<%= @game.id %>">
          <% if @game.user == current_user %>
            <h4><%= @game.user.pseudo %>, invite tes potes à jouer avec toi !</h4>
          <br>
        <div class="token-card">
          <div class="avatar-key d-flex justify-content-around align-items-center">
            <i class="fas fa-key"></i>
          </div>
          <h6 class="mt-3">Voici le code pour rejoindre ta partie : </h6>
          <strong><h2 class="mt-3 "><%= @game.token %></h2></strong>
        </div>
            <br>
            <br>
            <p>Clique sur le bouton <strong>PLAY</strong> dès que ton adversaire a rejoint la partie pour la lancer 🔊</p>
          <% else %>
            <h3>Tu as rejoint la partie de <%= @game.user.pseudo %> !</h3>
            <% if @game.participants != nil %>
              <% @game.participants.each do |participant| %>
                <p><%= participant.pseudo %> is participating</p>
              <% end %>
            <% end %>
          <% end%>
        </div>
      </div>
      <% if @game.user == current_user %>
        <%= link_to running_game_path(@game), method: :patch do %>
          <div class="play-btn mt-5"></div>
        <% end %>
      <% else %>
        <div class="welcome-top">
          <div class="text-center">
            <p>Vous avez rejoint la partie de <%= @game.user.pseudo%> !</p>
          </div>
        </div>
      <% end %>
      <!-- debut de la section a mettre dans partial -->
    </div>
  <% end %>

  <!-- -------------------------- -->

  <!-- game ready? bloc a supprimer je pense -->

  <% if @game.ready? %>
    <h1><%= @participation.pseudo %> a rejoint le game</h1>
    <h1>Clique sur le bouton <strong>PLAY</strong> dès que ton adversaire a rejoint la partie pour la lancer 🔊</h1>
    <div class="text-center">
      <p> <strong>Your token :
      <%= @game.token %></p></strong>
    </div>
      <%= link_to running_game_path(@game), method: :patch do %>
        <div class="play-btn"></div>
      <% end %>
  <% end %>

  <!-- ----------------------------------------- -->

  <!-- game running  -->

  <% if @game.running? %>
    <!-- partie en cours -->
    <!-- ========================================== -->

    <% if @current_track %>
      <div id="running-html">
        <!-- debut de la section mise dans partial par Victor -->
        <ul class="list-inline d-flex align-items-center">
          <!--          creer une data-audio-id = user.id -->
          <li class="d-none list-inline-item audio" data-time="<%= @answering_time %>" id="<%= @user.id %>">
            <%= audio_tag("#{@current_track.url_preview}", autoplay: true, controls: true, id:"song") %>
          </li>
        </ul>
        <div class="song-count d-flex justify-content-around align-items-center">
          <%= '<i class="fas fa-record-vinyl guessed"></i>'.html_safe * Answer.where(status:true).count %>
          <%= '<i class="fas fa-record-vinyl"></i>'.html_safe * (Game::NUMBER_OF_ROUNDS - Answer.where(status:true).count) %>
        </div>
        <div class="buzzer-content">
          <!-- creer une variable idBuzzer = 'buzz' + user.id -->
          <%= link_to paused_game_path(@game), method: :patch, id:"buzz" do %>

          <figure class="profile">
            <%= image_tag "image.png", class: "logo-show" %>
          </figure>

          <% end %>
        </div>
        <!-- message pour bonne ou mauvaise réponse -->
        <% if Answer.last %>
          <div class="speech-bubble speech-bubble-left">
            <p>
            <% if Answer.last.status == true %>
              <%= "Bien joué petit génie de la zik 🕺" %>
              <% elsif Answer.last.status == false %>
                <%= "Même ma petite soeur connaît ça... Try again ! " %>
              <% else %>
                <%= "nil" %>
            <% end %>
            </p>
          </div>
        <% end %>
        <!-- fin de la section mise dans partial par Victor -->


      </div>
    <!-- - - - - - - - - - - - -->
    <% else %>
    <!-- fin de partie - resultats -->
    <!-- résultats par chansons -->
      <div id="game-finished">
      <!-- debut de la section a mettre dans partial-finished -->
        <div class="display-container">
          <div class='dashboard-container'>
            <p class="text-center">Your results :</p>
            <table class="dashboard-table">
              <thead class='dashboard-titles'>
                <td>Track </td>
                <td>Player </td>
                <td>Pts </td>
              </thead>
              <tbody>
                <% @game.playlist.tracks.each do |track| %>
                  <tr >
                    <td><%= track.title %> <%#= track.artist %> </td>
                    <% track.answers.where(status:true).each do |answer| %>
                      <% if answer.status == true %> <!-- j'ai retiré le comm. # -->
                        <td><%= answer.user.pseudo %> </td>
                        <% if answer.answering_time < 3 %>
                          <td class="top-score">+ 1000 </td>
                        <% elsif answer.answering_time < 5 %>
                          <td>+ 200 </td>
                        <% elsif answer.answering_time < 10 %>
                          <td>+ 50 </td>
                        <% else %>
                          <td>+ 10 </td>
                        <% end %>
                      <% else %>
                        <td> - </td>
                        <td> - </td>
                      <% end %>
                    <% end %> <!-- fin de |answer| do -->
                  </tr>
                <% end  %>
              </tbody>
            </table>
          </div>
        </div>
    <!-- -------------- -->
    <!-- résulat total  -->
        <div class="dashboard-container text-center mt-5">
          <p>Score total :</p>
          <% total = 0 %>
          <% @user.answers.where(status:true).each do |answer| %>
            <% if answer.answering_time < 3  %>
              <% total += 1000 %>
            <% elsif answer.answering_time < 5 %>
              <% total += 200 %>
            <% elsif answer.answering_time < 10 %>
              <% total += 50 %>
            <% else%>
              <% total += 10 %>
            <% end %>
          <% end %>
          <span class="particletext confetti"> <%= total %>  </span>
        </div>
      <!-- ---------------- -->
      <!-- bouton rejouer -->
        <div class="bottom">
          <div class="text-center mt-5">
            <% @game=Game.new(user: current_user) %>
            <%= simple_form_for @game do |f| %>
              <%= f.submit "Rejouer", class: "btn-edit replay" %>
            <% end %>
          </div>
        </div>
      <!-- fin de la section a mettre dans partial game-finished -->
      </div>
    <!-- ----------- -->
    <% end %> <!-- end du if @current_track -->
  <% end %> <!-- end du if game.running? -->

  <!-- game paused - formulaire de réponse -->
  <% if@game.paused? %>
    <div class='display-container'>
      <!-- debut de la section a mettre dans partial -->

      <div class="load">
        <i class="fa fa-microphone fa-3x"></i>
      </div>

      <div class="d-none form-container text-center">
        <%= simple_form_for [ @game, @answer ] do |f| %>
          <%= f.input :content, autofocus: true, label: false%>
          <%= f.hidden_field :track, value: @current_track.id %>
          <%= f.hidden_field :answering_time, value: params[:current_time] %>
          <%= f.submit "Réponse ?", class: 'btn btn-flat', id:"answer"%>
        <% end %>

        <div class="speechtotext-container">
          <i class="fa fa-microphone speechtotext"></i>
        </div>

      <!-- fin de la section a mettre dans partial -->
    </div>
  <% end %>
  <!-- -----------------------  -->
</div> <!-- div fermante du container -->


<!-- modal 'quelqu'un est en train de donner une réponse' à intégrer après actioncable -->


<!-- <div id="message-modal">
  <div class="form-modal">
    <p> <strong><%= @user.pseudo %></strong> a été plus rapide que toi 🚀 il donne une réponse... </p>
  </div>
</div>
-->

