
<h1>show.html.erb</h1>
<%= @game.id %>
<%= @game.playlist_id %>

<% @game.playlist.tracks.each do |track| %>
  <li><%= track.title %></li>
    <%= simple_form_for [ @game, @answer ] do |f| %>
    <%= f.input :content %>
    <%= f.hidden_field :track, value: track.id %>
    <%= f.submit %>
      <% @answers.select {|answer| answer.track == track}.each do |answer|%>
        <%= answer.content %>
      <% end %>
    <% end %>
<% end %>

<%# counter = 0 %>
<%# while counter <= @game.playlist.tracks.length %>
  <%#= @game.playlist.tracks[counter].title %>
  <%#= simple_form_for [ @game, @answer ] do |f| %>
    <%##= f.input :content %>
    <%#= f.hidden_field :track, value: @game.playlist.tracks[counter].id %>
    <%#= f.submit %>
      <%#= @answers.select {|answer| answer.track == @game.playlist.tracks[counter]}.each do |answer|%>
        <%# if answer.content == @game.playlist.tracks[counter].title %>
          <%# counter += 1 %>
        <%# end %>
      <%# end %>
  <%# end %>
<%# end %>

