<% if @game.created? %>
  <div class="btn-home">
    <div class="text-center">

      Token :
        <%= @game.token %>
      </div>

    </div>
      <%= link_to running_game_path(@game), method: :patch do %>
        <i class="fas fa-play fa-5x"></i>
      <% end %>
</div>
<% end %>


<% if @game.running? %>
  <ul class="list-inline d-flex align-items-center">
    <li class="list-inline-item"><%= @current_track.title %></li>
    <li class="list-inline-item"><%= audio_tag("#{@current_track.url_preview}", autoplay: true, controls: true) %></li>
  </ul>
  <div class="d-none">
    <%= simple_form_for [ @game, @answer ] do |f| %>
    <%= f.input :content %>
    <%= f.hidden_field :track, value: @current_track.id %>
    <%= f.submit %>
    <% end %>
  </div>
  <div class="buzzer">
    <%= link_to paused_game_path(@game), method: :patch do %>
    <i class="fas fa-microphone"></i>
    <% end %>
  </div>
<% end %>


<% if@game.paused? %>
  <div>
    <%= simple_form_for [ @game, @answer ] do |f| %>
    <%= f.input :content %>
    <%= f.hidden_field :track, value: @current_track.id %>
    <%= f.submit %>
    <% end %>
  </div>
<% end %>










